<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> for POST_EXAMPLE</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %> for POST_EXAMPLE</p>
    <% include templates/form.ejs %>
  </body>
</html>